.wrapper { display: flex; }

.inputBox input {
    margin-bottom: -10px;
}

.form {
    margin: 0 20px 0 20px;
    
    min-height: 500px;
}

.side-panel {
    margin-right: auto;

    position: relative;

    display: flex;
    align-items: center;
    flex-direction: column;

    max-height: max-content;
    min-width: 200px;

    padding: 50px;
    gap: 35px;
    z-index: 10;
    background-color: rgba(230, 230, 230, 0.8);
    
    box-shadow: 16px 16px 45px #888888;
    bottom: 0;

    overflow-y: auto;
    max-height: 100vh;
}

.holder { width: 100%; overflow-y: hidden; }

.submit-btn { margin: 6px; }

