* {
    padding: 0;
    margin: 0;

    box-sizing: border-box;
    font-family: 'Chirp', sans-serif;
}

body {
    background-color: rgb(255, 252, 253) !important;
}

form {
    padding: 10px;
}

.card-body { background-color: rgb(250, 252, 253); }
